<%- include("../layout/_head.ejs") -%>

<div class="center welcome module">
    <img src="https://cdn.slicklearn.xyz/icons/ui/404-error.png" width="128px" class="welcome-logo">
    <h1 class="title text-primary">Uh oh...</h1>
    <p class="subtitle">Al parecer el recurso solicitado no existe.</p>

    <button class="btn btn-primary btn-lg mt-20" onclick="window.history.back()">Volver atras</button>
</div>

<%- include("../layout/_foot.ejs") -%>