<%- include("../layout/_head.ejs") -%>

<div class="container">
    <h1>Admin panel</h1>
    <p>No tenemos panel de administrador ya que no tenemos nada que administrar. Por fa, no intentes hackearnos gracias :3</p>
</div>

<%- include("../layout/_foot.ejs") -%>