<%- include("../layout/_head.ejs") -%>

<div class="center welcome module">
    <div class="search-container">
        <h2>¿Que deseas buscar?</h2> <br/>
        <input class="course-search-input" type="text" placeholder="Escribe aquí lo que necesites">
    </div>

    <div class="course-list">
        <div class="course-item">
            <img src="https://cdn.slicklearn.xyz/courses/thumbnails/javascript.png">
            <div class="course-info">
                <span class="course-name">Javascript</span>
                <p class="course-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus neque ducimus ad nesciunt cumque itaque placeat. Harum commodi esse, beatae quidem fugit ullam aliquam quae, consectetur soluta et sed laboriosam!</p>
            </div>
        </div>

        <div class="course-item">
            <img src="https://cdn.slicklearn.xyz/courses/thumbnails/javascript.png">
            <div class="course-info">
                <span class="course-name">Javascript</span>
                <p class="course-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus neque ducimus ad nesciunt cumque itaque placeat. Harum commodi esse, beatae quidem fugit ullam aliquam quae, consectetur soluta et sed laboriosam!</p>
            </div>
        </div>

        <div class="course-item">
            <img src="https://cdn.slicklearn.xyz/courses/thumbnails/javascript.png">
            <div class="course-info">
                <span class="course-name">Javascript</span>
                <p class="course-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus neque ducimus ad nesciunt cumque itaque placeat. Harum commodi esse, beatae quidem fugit ullam aliquam quae, consectetur soluta et sed laboriosam!</p>
            </div>
        </div>

        <div class="course-item">
            <img src="https://cdn.slicklearn.xyz/courses/thumbnails/javascript.png">
            <div class="course-info">
                <span class="course-name">Javascript</span>
                <p class="course-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus neque ducimus ad nesciunt cumque itaque placeat. Harum commodi esse, beatae quidem fugit ullam aliquam quae, consectetur soluta et sed laboriosam!</p>
            </div>
        </div>
        
    </div>
</div>

<%- include("../layout/_foot.ejs") -%>