<%- include("../layout/_head.ejs") -%>

<div class="center welcome module">
    <img src="https://cdn.slicklearn.xyz/logo/256.png" width="128px" class="welcome-logo">
    <h1 class="title text-primary">¡Bienvenido estudiante!</h1>
    <p class="subtitle">Aprende a tu propio ritmo, cuando, donde y como séa en Slick Learn</p>

    <button class="btn btn-primary btn-lg mt-20">¡Comenzar a aprender!</button>
    <a href="#info"><button class="btn btn-lg mt-20">¡Leer más!</button></a>
</div>

<h2 id="info" style="text-align: center;">Mas información</h2>

<div class="center module">
    <div class="information information-left">
      <div style="margin-right: 20px;">
        <img src="https://cdn.slicklearn.xyz/icons/ui/question.png" class="information-image">
      </div>

      <div class=" p-10 information-text">
        <h2 class="information-title ta-l">¿Qué es <span class="text-primary">Slick Learn</span>?</h2>
        <p class="information-body ta-l">Slicklearn no es más que una pequeña plataforma de aprendisaje en linea orientada a la informática.</p>

        <p class="information-body ta-l">Aquí podrás obtener conocimientos de 0 a 100, reforzar los mismos o utilizar esta plataforma de manera educativa para instruir a alguien más.</p>
      </div>
    </div>
</div>

<div class="center module">
    <div class="information information-right">
      <div class=" p-10 information-text">
        <h2 class="information-title ta-r">¿Qué puedo aprender aquí?</h2>
        <p class="information-body ta-r">En Slicklearn podrás aprender a manejar varias herramientas de desarrollo que se usan en la actualidad para diseño web o programación, así como las respectivas librerias, frameworks y tecnologías para que puedas convertirte en un desarrollador Fullstack.</p>
      </div>

      <div class=" information-image-right" style="margin-left: 20px;">
        <img src="https://cdn.slicklearn.xyz/icons/ui/study.png" class="information-image">
      </div>
    </div>
</div>

<div class="center features-list module">
    <h4>¿Por qué usar <span class="text-primary">Slick Learn</span>?</h4>
    <div class="inline-block">
      <div class="feature-item">
        <img class="feature-icon" src="https://cdn.slicklearn.xyz/icons/ui/pay.png">
        <div class="feature-information">
          <span class="feature-title">Accesibilidad</span>
          <span class="feature-description">Estudie libremente sin costo alguno</span>
        </div>
      </div>

      <div class="feature-item">
        <img class="feature-icon" style="padding: 0px;" src="https://cdn.slicklearn.xyz/icons/ui/phone.png">
        <div class="feature-information">
          <span class="feature-title">Compatibilidad</span>
          <span class="feature-description">Estudie desde cualquier dispositivo</span>
        </div>
      </div>
    </div>

    <div class="inline-block">
      <div class="feature-item">
        <img class="feature-icon" src="https://cdn.slicklearn.xyz/icons/ui/calendary.png">
        <div class="feature-information">
          <span class="feature-title">Disponibilidad</span>
          <span class="feature-description">Estudie cuando quiera, ¡sin limites!</span>
        </div>
      </div>

      <div class="feature-item">
        <img class="feature-icon" src="https://cdn.slicklearn.xyz/icons/ui/user.png">
        <div class="feature-information">
          <span class="feature-title">Facilidad</span>
          <span class="feature-description">Estudie sin necesidad de registrarse</span>
        </div>
      </div>
    </div>
</div>

<%- include("../layout/_foot.ejs") -%>