<div class="navbar fixed-top" id="navbar-component">
    <img width="40" alt="Slicklearn Logo" class="logo" src="https://cdn.slicklearn.xyz/logo/256.png"/>
    <a rel="canonical" class="title" href="/" router>SlickLearn</a>
    <div class="spacer"></div>
  
    <button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#5433ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg><a href="/donate" router> Donar</a></button>
  
    <button class="btn" render-when="true">
      <a rel="canonical" href="/courses" router>Cursos</a>
    </button>
  
    <button class="btn" id="login-btn">
      <a rel="canonical" href="/login" router>Login</a>
    </button>

    <div class="btn dropdown float-left" id="account-btn" style="display: none;">
      <a href="#" onclick="javascript:return false;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
        <span id="nav-displayname">User</span>
        <figure class="avatar avatar-med" data-initial="S" style="background-color: #5755d9;">
          <div id="nav-avatar">
            <img src="https://cdn.slicklearn.xyz/avatar/<%- (locals.profile ? locals.profile.avatar : '') -%>.png" alt="avatar">
          </div>
          <i class="avatar-presence online"></i>
        </figure>
      </a>
      <ul class="dropdown-menu menu">
        <li class="menu-item" id="nav-username">
          <a href="/@<%- (locals.profile ? locals.profile.username : '') -%>">
            <i class="fa fa-fw fa-user-alt"></i>
            Mi perfil
          </a>
        </li>

        <li class="menu-item">
          <a href="/my-courses" rel="canonical">
            <i class="fa fa-fw fa-list"></i>
            Mis cursos
          </a>
        </li>

        <li class="menu-item">
          <a href="/settings">
            <i class="fa fa-fw fa-cog"></i>
            Opciones
          </a>
        </li>

        <li class="menu-item">
          <a href="#" onclick="app.logout()">
            <i class="fa fa-fw fa-sign-out-alt"></i>
            Cerrar Sesión
          </a>
        </li>
      </ul>
  </div>
</div>