<div class="navbar fixed-top" id="navbar-component">
    <img width="40" alt="Slick Logo" class="logo" src="https://cdn.slicklearn.xyz/logo/256.png"/>
    <a class="title" href="/" router=true>SlickLearn</a>
    <div class="spacer"></div>
  
    <button class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#5433ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg><a href="/donate" router=true> Donar</a></button>
  
    <button class="btn" render-when="true">
      <a href="/courses" router=true>Cursos</a>
    </button>
  
    <button class="btn" render-when="true">
      <a href="/login" router=true>Login</a>
    </button>
  
    <!--
    <button class="btn" render-when="_islogged">
        <a render-var="_user.username"></a>
    </button>-->
  </div>